#header {
  min-height: 80px;
  background: #ffffff;
  z-index: 111111;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 10px #e9ecef;
  .navbar-brand {
    img{
      padding: 0;
      max-height: 32px;
    }
  }
}
#body{
  font-family: $roboto;
  margin: 0;
}
#principal .principal-text{
  padding: 200px 20px;
  }
.mobile.img-fuid {
  margin-top: $marginTop;
}
.mobile{
  margin-top: $marginTop;
}
h1{
  color: #000000;
  font-weight: $bold;
  font-size: 42px;
  font-family: $popins;
  line-height: 50px;
}
.parrafoTexto{
  font-weight: $normal;
  font-size: 16px;
  line-height: 24px;
  color: $casinegro;
}
.boton {
background-color:$rosa;
padding: 18px 25px;
border-radius: $radius;
text-decoration: none;
color: #ffffff;
font-size: 16px;
border: none;
}
#servicios{
  background-color: $violetaClaro;
  padding: 80px 0px;
  margin: 40px 0px;
}
.titulo{
  font-weight: $bold;
  font-size: 32px;
  font-family: $popins;
  color: #000000;
}
.subtitulo{
  @extend .titulo;
  font-size: 20px!important;
}
.frase{
  @extend .titulo;
  color: $violeta;
}
.cardServicios{
  color: #000000;
  background-color: white;
  border-radius: $radius;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px $gris;
}
.caja{
  max-width: 100%;
  height: auto;
  border-radius: $radius;
  margin-bottom: 30px;
}
#datos{
  padding: 40px 0px;
  margin: 80px 0px;
}
#footer{
  background-color: $violeta;
  padding: 80px 0px 20px 0px;
  margin-top: 40px;
  .subtitulo {
    color: white;
    font-size: $normalText!important;
    font-weight: $bold;
  }
  .parrafoTexto {
    color: white;
    font-size: $normalText;
  }
  .newsletter input[type="submit"] {
    background: $violeta;
    border: solid white 1.5px;
    border-radius: 0px 6px 6px 0px;
    width: 50%;
    text-align: center;
    color: #fff;
    height: 44px;
    font-size: $normalText;
  }
  .newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 50%;
    height: 44px;
    border-radius: 6px 0px 0px 6px;
    font-size: $normalText;
  }
  .copy{
    padding-top: 30px;
    color: white;
    font-size: 12px;
  }
}
#ofrecemos{
  margin-top: $marginTop;
  .subtitulo{
  font-size: 24px!important;
  }
  .bannerDiseno{
  background-color:$rosa;
  }
  .bannerMkt{
  background-color:$amarillo;
  }
  .bannerBranding{
  background-color:$celeste;
  }
}
.marcas{
  background-color: #edecf9;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 90px;
  padding-top: 80px;
}
#clientes{
margin-top: $marginTop;
}
#inspiracional{
  min-height: 250px;
  margin-top: $marginTop;
  padding-top: 90px;
}
.carousel-indicators{
  left: 0;
  top: auto;
  bottom: -50px;
  li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: $violeta;
    border: 1px solid $violeta;
  }
}
.boton:hover{
  background-color:$rosaHover;
  }
.servicios-text{
  padding: 140px;
}
#contacto{
    margin: 120px 300px 120px 300px;
    padding: 40px;
    .contactForm button[type="submit"] {
    background-color: $rosa;
    padding: 14px;
    border-radius: $radius;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    border: none;
    width: 100%;
  }
  .contactForm button[type="submit"]:hover {
  @extend .boton:hover
  }
}
.cardServicios:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px $gris;
    transition: 0.3s;
}
.cardTrabajos:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.cardTrabajos:hover .trabajos-info{
    opacity: 1;
}
.cardTrabajos:hover img{
  opacity: 0.5;
  transition: 0.3s;
}
.subtitulo .parrafoTexto .trabajos-info{
  color: #ffffff;
}
.trabajos-info{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    display: flex;
}
.servicios-img img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.trabajos-info .frase {
  color: #000000;
  font-size: 26px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    color: $violeta;
}
.navbar-light .navbar-nav .nav-link{
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
}
.servicios-img{
  justify-content: center;
    display: flex;
}
#portada{
  background-image: url('../img/equipo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 450px;
  background-size: cover;
}
@media (max-width: 768px){
.logo{
  justify-content: center;
  display: flex;
  margin: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 10px 0px;
}
.icono img{
  width: 100px;
}
.desktop{
  display: none;
}
#principal .principal-text{
  padding: 20px;
}
h1{
  font-size: 32px!important;
  line-height: 40px!important;
}
.parrafoTexto{
  font-size: $normalText!important;
  line-height: 20px!important;
}
.titulo{
  font-size: 28px;
}
.subtitulo{
  font-size: 20px;
}
#contacto{
  padding: 0!important;
  margin: 100px 0 0 0!important;
}
.servicios-text{
  padding: 50px!important;
}
.servicios-img{
  max-height: 350px;
}
.servicios-img img{
  max-width: 300px;
}
#portada{
  min-height:350px;
}
}
@media (min-width: 992px){
  .mobile{
  display: none;
}
.icono img {
  width: 150px;
}
}
