$violeta:#847fd8;
$violetaClaro:#847fd926;
$gris:#e9ecef;
$casinegro:#191919;
$rosa:#dc76a0;
$rosaHover:#cd6e95;
$amarillo:#f7bb65;
$celeste:#88c9e7;
$radius:6px;
$normalText:14px;
$normal:400;
$medium:600;
$bold:700;
$roboto:'Roboto', sans-serif;
$popins:'Poppins', sans-serif;
$marginTop:80px;
