#header {
	min-height: 80px;
	background: #ffffff;
	z-index: 111111;
	display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(127 137 161 / 15%);
}
#header .navbar-brand img {
    padding: 0;
    max-height: 32px;
}
.navbar-light .navbar-nav .nav-link{
	color: #000000;
    font-size: 16px;
    padding: 10px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 10px 20px;
}
.navbar-light .navbar-nav .nav-link.active{
	color: #847fd8;
}

#body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#principal .principal-text{
	padding: 200px 20px;
	}
@media (max-width: 768px){
.principal-img{
	display: none;
}
#principal .principal-text{
	padding: 100px 50px 20px 20px;
}
h1{
	font-size: 32px!important;
    line-height: 40px!important;
}
.parrafoTexto{
	font-size: 14px!important;
	line-height: 20px!important;
}
.titulo{
	font-size: 28px!important;
}
#contacto{
	padding: 0!important;
	margin: 100px 0 0 0!important;
}
.servicios-text{
	padding: 50px!important;
}
}

h1{
 	color: #000000;
 	font-weight: 700;
 	font-size: 42px;
 	font-family: 'Poppins', sans-serif;
 	line-height: 50px;
}
.parrafoTexto{
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #191919;
}
.boton {
background-color:#dc76a0;
padding: 20px 25px;
border-radius: 6px;
text-decoration: none;
color: #ffffff;
font-size: 16px;
border: none;
}
@media (min-width: 992px)
.order-lg-2 {
    order: 2 !important;
}
#servicios{
	background-color: #847fd926;
	padding: 80px 0px;
	margin: 40px 0px;
}
#datos{
	padding: 40px 0px;
	margin: 80px 0px;
}
.titulo{
	font-weight: 700;
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	color: #000000;
}
.subtitulo{
	font-weight: 700;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: #000000;
}
.cardServicios{
    color: #000000;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(127 137 161 / 15%);
}
.frase{
	font-weight: 700;
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	color: #847fd8;
	margin-bottom: 0;
}
.card{
	max-width: 100%;
    height: auto;
	border-radius: 6px!important;
	margin-bottom: 30px;
}
.caja{
	max-width: 100%;
    height: auto;
	border-radius: 6px!important;
	margin-bottom: 30px;
}
#footer{
	background-color: #847fd8;
	padding: 80px 0px;
    margin-top: 40px;
}
#footer .subtitulo {
	color: white;
	font-size: 14px;
}
#footer .parrafoTexto {
	color: white;
	font-size: 14px;
}
#footer .newsletter input[type="submit"] {
    background: #847fd9;
    border: solid white 1.5px;
    border-radius: 0px 6px 6px 0px;
    width: 50%;
    text-align: center;
    color: #fff;
    height: 44px;
    font-size: 14px;
}
#footer .newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 50%;
    height: 44px;
    border-radius: 6px 0px 0px 6px;
	font-size: 14px;
}
#portada{
	background-image: url(img/equipo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    background-size: cover;
}
#equipo .caja{
	margin-bottom: 20px;
}
.servicios-img{
	min-height: 500px;
    background-size: cover;
}
.servicios-text{
	padding: 140px;
}
#ofrecemos{
	padding-top: 80px;
}
#ofrecemos .subtitulo{
	font-size: 24px;
}
#portfolio .trabajos:hover{
	background: #003166;
}
.marcas{
	background-color: #edecf9;
	width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 90px;
    padding-top: 80px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.blog .carousel-indicators{
	left: 0;
    top: auto;
    bottom: -50px;
}
#clientes{
padding-top: 80px;
}
#inspiracional{
	min-height: 250px;
	margin-top: 80px;
	padding-top: 90px;
}
#equipo{
	padding-top: 30px;
}
.inspiracional{
	font-weight: 700;
	font-size: 48px;
	font-family: 'Poppins', sans-serif;
	color: #000000;
}
.carousel-indicators{
	left: 0;
    top: auto;
    bottom: -50px;
}
.carousel-indicators li{
	background: #a3a3a3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #847fd8;
    border: 1px solid #847fd8;
}
#contacto{
    margin: 120px 300px 120px 300px;
    padding: 40px;
}
#contacto .contactForm button[type="submit"] {
	background-color: #dc76a0;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    border: none;
    width: 100%;
}
#portfolio .muestra .caja:hover{
	background-color: black;
}
#portfolio .muestra .caja:hover img{
	opacity: 0.4;
    transition: 0.3s;
}

.boton:hover, #contacto .contactForm button[type="submit"]:hover {
    background-color: #cd6e95;
}
.cardServicios:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(127 137 161 / 30%);
    transition: 0.3s;
}
